.hamburgerContainer{
    display: flex;
    justify-content: space-between;
    height: fit-content;

    backdrop-filter: blur(100px);
    transition: background 0.5s ease 0s;
}
.hamburgerIconContainer{
    max-width: fit-content;
    margin-left: auto;
    padding-right: 5%;

    background: transparent;
  backdrop-filter: blur(100px);
  transition: background 0.5s ease 0s;
}
.hamburgerIcon{
    cursor: pointer;
    max-width: 50px;
}

.hamburgerMenuContainer{
    background-color: transparent;
    color:white;
    width: 85%;
    margin-left: auto;
    margin-right: auto;

    background: transparent;
  backdrop-filter: blur(100px);
  transition: background 0.5s ease 0s;

    
}

.hamNav-links{
  
    height: 100%;
    line-height: 60px;
}

.hamMenuLink{
    text-decoration: none;
    color: white;
    margin-top: 10px;
    
}

@media only screen and (max-width:470px) {
    .hamburgerIconContainer{
        margin-right: 10px;
        
    }

    .logo{
    margin-left: 10px;
    }
}

